* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.container {
    background-color: rgba(209, 129, 229, 0.98);;
    border: 2px solid rgb(116, 35, 206);
    margin: 10px;
    padding: 25px;
}